.main
  width 100%

  &:after
    content ''
    display block
    clear both
  &__row
    margin-bottom 20px

  &__column
    width 50%
    float left
    padding 10px

  &__column_email
    position fixed
    top 0
    right 0
    bottom 0
    overflow scroll

.btn
  outline none
  border 1px solid #326796
  border-radius 3px
  background #428bca
  color #fff
  font-size 12px
  padding 5px 7px
  text-align center



  &__row
    margin-bottom 30px
    &:last-child
      margin-bottom 0

.header
  width 100%

  &:after
    content ''
    display block
    clear both

  &__search
    width 60%
    float left
    padding-right 10px

  &__datepicker
    width 40%
    float left